body {
  background: rgb(241, 241, 241);
}
.wrap {
  display: flex;
  width: 100%;
  height: 100vh;

  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.cube {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
}

.cube img:nth-child(1) {
  width: 200px;
  background: #aaa;
  border-bottom: 0px;

  position: absolute;
  opacity: 0.8;
}
.cube img:nth-child(2) {
  width: 200px;
  background: #aaa;

  position: absolute;
  opacity: 0.8;
}
.cube img:nth-child(3) {
  width: 200px;
  background: #aaa;

  position: absolute;
  opacity: 0.8;
}
.cube img:nth-child(4) {
  width: 200px;
  background: #aaa;

  position: absolute;
  opacity: 0.8;
}
.cube img:nth-child(5) {
  width: 200px;
  background: #aaa;

  position: absolute;
  opacity: 0.8;
}
.cube img:nth-child(6) {
  width: 200px;
  background: #aaa;

  position: absolute;
  opacity: 0.8;
}

.cube img:nth-child(1) {
  transform: rotateY(0deg) translateZ(100px) translateY(35px);
  clip-path: inset(0px 0px 86.3% 0px);
}
.cube img:nth-child(2) {
  transform: rotateY(0deg) translateZ(100px) translateY(-750px);
  clip-path: inset(83.5% 0px 00px 0px);
}
.cube img:nth-child(3) {
  transform: rotateX(180deg) translateY(374px) translateZ(100px);
  clip-path: inset(37.8% 0px 39.2% 0px);
}
.cube img:nth-child(4) {
  transform: rotateY(-90deg) translateZ(-100px) translateY(-100px);
  clip-path: inset(15% 0px 24% 0px);
}
.cube img:nth-child(5) {
  transform: rotateX(270deg) translateX(0px) translateY(202px)
    translateZ(-273px);
  clip-path: inset(14.2% 0px 62.1% 0px);
}
.cube img:nth-child(6) {
  transform: rotateX(90deg) translateY(-186px) translateZ(465px);
  clip-path: inset(60.2% 0px 16.2% 0px);
}

@keyframes loop {
  from {
    transform: rotateZ(0deg) rotateX(0deg);
  }
  to {
    transform: rotateZ(360deg) rotateX(360deg);
  }
}

.cube {
  animation: loop 15s linear infinite;
}

.uploadimg {
  margin-top: 12px;
  margin-left: 8px;
}
